* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.containerHeader {
    background-size: cover;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 7%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 60px;
}

.contentHeader{
    width: 45%;
    padding-right:7%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        rgba(19, 106, 138, 0.7), 
        rgba(38, 120, 113, 0.5)
    ) ;
}

.contentHeader p {
    margin-left: auto;
    color: white;
}

.dropDownContent {
    width: 45%;
    padding-left: 5%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.dropDownContent p {
    font-size: 40px;
    color: rgba(19, 106, 138)
}

#nameInput {
    padding-left: 5%;
    display: none;
    
}

#nameInput p {
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


#nameInput input[type=text]{
    width: 100%;
    background-color: transparent;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: solid grey;
    cursor: pointer;
    color:  rgba(38, 120, 113);
}



.headerContent{
    width: 100%;
    height: 20%;
    padding-left: 7%;
    padding-top:5%;
}

.headerContent p{
    font-family: 'Rajdhani', sans-serif;
}

.containerContent{
    height: 850px;
    width: 100%;
    padding-top:2%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.containerHeader input[type=button] {
    width: 40%;
    background-color:  rgba(38, 120, 113,0.8);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size:20px;
  }

.containerHeader select {
    width: 40%;
    background-color: transparent;
    padding: 14px 20px;
    margin: 8px 0;
    border: solid grey;
    cursor: pointer;
    font-size:30px;
    color:  rgba(38, 120, 113);
  }



.container {
    height: 800 px;
    width: 100%;
}

.containerBar {
    display: flex;
    margin-bottom: 10px;
}

.classBar{
    max-width: 80%;
    display: inline-block;
}

.aliasBar {
    display: inline-block;
    margin-left:20px;
}

.aliasBar p{
    color : rgba(38, 120, 113);
    font-size: 40px;
    height: 70px;
    padding-top:10px;
}

.plusMinusButton {
    display: inline-block;
    width: 15%;
    height: 100px;
    padding:10px;
    margin-left:3px;
    margin-top:3px;
    border:solid #b3b3cc;

}

#buttonChart {
    margin-top:4%;
    padding: 10px;
}

.aliasHeader {
    width: 70%;
    height: 100%;
    display: inline-block;
    padding-left:10px;
    padding-top:10px;
}
.colorHeader{
    display: inline-block;
    width: 30%;
    height: 100%;
}

.classBar p{
    float: right;
    color:white;
    font-size: 40px;
    margin-right: 20%;
    margin-top:15px;
}

.btnHeader {
    display: flex;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.buttonContainer{
    width: 100%;
    height: 50%;
    display: flex;
    margin-top:3px;
}

.buttonContainer .plusButton{
    width: 80%;
    height: 100%;
    background-color:  rgba(38, 120, 113,0.8);
    color:white;
    border:none;
    font-size: 30px;
}

.buttonContainer .minusButton{
    width: 20%;
    height: 100%;
    background-color: #cc0000;
    color:white;
    border:none;
    
    font-size: 30px;
}

.containerContent #buttonChart{
    border:none !important;
    background:   rgba(19, 106, 138, 0.1)  !important;
    display: flex;
    margin-left: 10%;
    width: 80%;
}

#buttonDone{
    margin-top:1%;
    margin-left:10%;
    padding-bottom: 5%;
   
}

#buttonDone input[type=button]{
    width: 89%;
    height:70px;
    background: rgba(38, 120, 113, 0.5);
    font-size:40px;
    color:white;
    border:none;
}

#containerResult {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}

#tableResult {
    margin-top:5%;
    width: 80%;
    height: 100%;
    margin-left:10%;
}

table {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size : 50px;
    border: none ;
    width: 100%;
    border-collapse: collapse;
  }

th, td {
    padding: 8px;
    text-align: left;
    border:solid white 1px;
    border-bottom: solid grey 2px;
  }